@font-face {
  font-family: "Lato-Regular";
  src: url('../fonts/Lato-Regular.ttf')  format("truetype");
}
@font-face {
  font-family: "Merriweather";
  src: url('../fonts/Merriweather-Black.ttf')  format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Bold.ttf')  format("truetype");
}
@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url('../fonts/Montserrat-BoldItalic.ttf')  format("truetype");
}
@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url('../fonts/Montserrat-MediumItalic.ttf')  format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url('../fonts/Montserrat-Light.ttf')  format("truetype");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url('../fonts/MyriadPro-Regular.otf')  format("truetype");
}

$theme-colors: (
        "primary": #0091C7,
        "secondary": #001641,
        "tertiary": #F26522,
        "text-primary": #0091C7,
        "text-white": #ffffff,
        "text-gray": #6c757d,
);

$body-bg: #ffffff;

$text-primary: #0091C7;

@import "node_modules/bootstrap/scss/bootstrap";
nav {
  height: 80px;
}
.navbar {
  &-brand {
    width: 140px;
    margin-right: 40px;
  }
  &-list {
  }
}
.navbar-nav {
    a {
      color: white;
    }
}
.nav-link {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat-BoldItalic';
}
.run-desktop {
  margin: 16px 0;

  &-wrapper {
    background: #6c757d;
    font-family: 'Lato-Regular';
    text-transform: uppercase;
    padding: 4px 0;
    width: 38%;
    height: 90px;
      h3 {
        font-size: 36px;
        font-family: 'Montserrat-Light';
        letter-spacing: 3px;
        margin-bottom: -1px;
      }
      span {
        font-weight: 500;
      }
  }
  &-header-span {
    font-size: 20px;
    font-family: 'Montserrat';
  }
  &-cover{
    background-image: url('/images/women-run.jpg');
    //width: 100%;
    height: 600px;
    background-size: 100%;
    background-position: 0% 20%;
    background-repeat: no-repeat;
  }
  &-info {
    text-transform: uppercase;
    padding: 5px 0;
    border-top: 3px solid #F26522;
    border-bottom: 3px solid #F26522;
    font-family: 'Montserrat-BoldItalic';
    transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);

    h4 {
      transform: skew(10deg);
      -webkit-transform: skew(10deg);
      -moz-transform: skew(10deg);
      margin: 0;
    }
  }
  &-image {
    width: 490px;
  }
  &-button {
    background: #F26522;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat-BoldItalic';
    transform: skew(-21deg);
    font-size: 12px;
    border: none;
    padding: 8px 22px;
    display: inline-block;
  }
  &-btn {
    background: #00597b;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat-BoldItalic';
    transform: skew(-21deg);
    font-size: 14px;
    border: none;
    padding: 4px 16px;
    display: inline-block;
  }
  &-form {
    margin-top: 16px;
  }
  &-select {
    transform: skew(21deg);
    display: inline-block;
  }
  &-text {
    font-family: 'Montserrat-Light';
    font-size: 14px;
    line-height: 30px;
    width: 95%;
  }
  &-sat {
    font-size: 12px;
  }
  &-small {
    font-size: 20px;
  }
  &-placard {
    top: 45%;
    left: 10px;
    -webkit-filter: drop-shadow(0.5px 0.5px 0px #F26522);
  }
  &-gray {
    color: #6c757d;
    font-family: "Montserrat-BoldItalic";
    font-size: 12px;
  }
  &-date {
    font-family: 'Lato-Regular';
    color: #eeeeee;
    margin-bottom: -1px;
  }
  &-coverage {
    background-image: url('/images/logo-runners.jpg');
    width: 100%;
    height: 700px;
    background-size: cover;
    object-fit: contain;
    padding: 32px 0;
  }
  &-card-image {
    width: 100%;
    height: 191px;
    object-fit: contain;
  }
  &-card-body {
    background: #001641;
  }
  &-card-header {
    font-family: 'SansSerif';
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 16px;
  }
  &-footer {
    font-size: 14px;
    font-family: 'Montserrat-BoldItalic';
  }
  &-social {
    font-size: 18px;
  }
  &-divider {
    width: 100%;
    height: 400px;
    background-image: url('/images/orange-marathon.jpg');
    background-position: center;
    padding: 32px 0;
    position: relative;
  }
  &-divider:after {
    content: '';
    background-image: url('/images/orange-marathon.jpg');
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: visible;
    z-index: 1;
    -webkit-transform: skewX(-23deg);
    -moz-transform: skewX(-23deg);
    -ms-transform: skewX(-23deg);
    -o-transform: skewX(-23deg);
    transform: skewX(-23deg);
  }
  &-separator {
    background-image: url('/images/blue-marathon.jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    object-fit: contain;
    padding: 32px 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%,  0 110%);
  }
  &-information {
    text-transform: uppercase;
    padding: 6px 0;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    font-family: 'Montserrat-BoldItalic';
  }
  &-platform {
    width: 100%;
    position: relative;
    background-color: #0091C7;
    margin-left: 16px;
  }
  &-slanted {
    position: relative;
    background-color: #ffffff;
    width: 40%;
    padding:16px;
  }
  &-slanted:after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -6em;
    width: 20em;
    overflow: visible;
    z-index: 1;
    -webkit-transform: skewX(-13deg);
    -moz-transform: skewX(-13deg);
    -ms-transform: skewX(-13deg);
    -o-transform: skewX(-13deg);
    transform: skewX(-13deg);
  }
  &-light {
    color: #ffffff;
    border-top: 1px solid #ffffff;
  }
  &-hexbutton {
    position: relative;
    width: 100px;
    height: 30px;
    background: #001641;
    text-transform: uppercase;
    border: 2px solid #F26522;
    font-family: 'Montserrat-MediumItalic';
    color: #ffffff;
    font-size: 12px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%, 30% 10%, 30% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%, 10% 0%, 10% 100%);
  }
  &-hexblue {
    position: relative;
    width: 100px;
    height: 30px;
    background: #001641;
    text-transform: uppercase;
    border: 2px solid #0091C7;
    font-family: 'Montserrat-MediumItalic';
    color: #ffffff;
    font-size: 12px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%, 30% 10%, 30% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%, 10% 0%, 10% 100%);
  }
  &-fresh {
    font-size: 20px;
    font-family: 'Montserrat-Light';
    width: 80%;
  }
  &-shownav {
    display: none;
  }
  &-cool {
    background:  #0091C7;
    transform: skew(-21deg);
    font-size: 14px;
    border: none;
    height: 50px;
    padding: 4px 16px;
    display: inline-block;
  }

}
.material-icons {
  color: #F26522;
  font-size: 22px;
}
.input-group {
  font-family: 'Lato-Regular';
  color: #000000;
  font-size: 12px;

  &-text {
    background: #ffffff;
    border-right: none;
    border-radius: 0;
  }
  &-prepend {
    background: none !important;
  }
}
.form-control {
  border-radius: 0;
  height: 50px;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
}
@media (max-width: 1024px) {
  .run-desktop {
    &-wrapper {
      width: 100%;
    }
    &-image {
      width: 280px;
      margin-top: 3rem !important;
    }
    &-text {
      width: 100%;
    }
    &-border {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    &-cover {
      background-size: cover;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    &-coverage {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      height: auto;
    }
    &-small {
      font-size: 14px;
    }
    &-background {
      margin-top: 3rem !important;
    }
    &-buttoncover {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    &-coverbtn {
      margin-right: 12px !important;
    }
    &-race {
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }
    &-separator {
      display: block;
    }
    &-cardflex {
      display: flex;
      width: 100% !important;
      justify-content: center;
      flex-direction: row;
      margin-left: 0.5rem !important;
      margin-right: 0;
    }
    &-slanted:after {
      width: 20em;
    }
    &-fresh {
      width: 100%;
      font-size: 14px;
    }
    &-newsletter {
      margin-right: 0.5rem !important;
      margin-left: 0 !important;
      text-align: center;
    }
    &-platform {
      padding: 0 9rem;
    }
    &-placard {
      top: 42%;
      left: 10px;
      position: absolute;
    }
    &-header {
      display: none;
      &-span {
        display: block;
        margin-top: 3px !important;
      }
    }
    &-divider {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      height: 400px;
    }
    &-card {
      &-cover {
        margin-bottom: 1rem;
        width: 100%;
        padding-left: 0;
      }
      &-header {
        height: 70px;
      }
    }
  }
  .navbar-toggler-icon{
    color: #fff;
    font-size: 40px;
  }
  .navbar-toggler {
    background: none;
    border-radius: 0;
    border: none;
  }
  button:focus {
    outline: none;
  }
  .material-icons {
    font-size: 20px !important;
  }
  .form-control {
    border-left: 0;
    border-right: 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .navbar-expand-lg {
    display: none !important;
  }
  .run-desktop {
    &-wrapper {
      display: block !important;
      width: 50%;
      margin: 0 auto;
    }
    &-cover {
      background-size: cover;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    &-coverage {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      height: auto;
    }
    &-placard {
      top: 35%;
      left: 10px;
      position: absolute;
    }
    &-text {
      width: 100%;
      font-size: 12px;
    }
    &-information {
      margin-left: 1.5rem !important;
      font-size: 18px;
    }
    &-border {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      margin-right: 0 !important;
    }
    &-about {
      display: block;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    &-info {
      font-size: 16px;
      display: block;
      margin-top: 1rem !important;

      h4 {
        font-size: 1rem;
        margin: 0;
      }
    }
    &-small {
      font-size: 14px;
    }
    &-background {
      margin-top: 3rem !important;
    }
    &-buttoncover {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    &-coverbtn {
      margin-right: 12px !important;
    }
    &-race {
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }
    &-separator {
      display: block;
    }
    &-cardflex {
      display: flex;
      width: 100% !important;
      justify-content: center;
      flex-direction: row;
      margin-left: 0.5rem !important;
      margin-right: 0;
    }
    &-slanted:after {
      width: 20em;
    }
    &-fresh {
      width: 100%;
      font-size: 14px;
    }
    &-newsletter {
      margin-right: 0.5rem !important;
      margin-left: 0 !important;
      text-align: center;
    }
    &-platform {
      padding: 0 10.5rem;
    }
    &-header {
      display: none;
      &-span {
        display: block;
        margin-top: 3px !important;
      }
    }
    &-gray {
      height: 40px;
    }
    &-date {
      height: 50px;
    }
    &-director {
      margin-left: 1.5rem !important;
    }
    &-fresh {
      margin-left: 1.5rem !important;
    }
    &-directory {
      margin-left: 1.5rem !important;
    }
    &-divider {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      height: 400px;
    }
    &-card {
      &-cover {
        margin-bottom: 1rem;
        width: 100%;
        padding-left: 0;
      }
      &-header {
        height: 100px;
        margin-top: 3rem;
      }
    }
  }
  .navbar-toggler-icon{
    color: #fff;
    font-size: 40px;
  }
  .navbar-toggler {
    background: none;
    border-radius: 0;
    border: none;
  }
  button:focus {
    outline: none;
  }
  .material-icons {
    font-size: 20px !important;
  }
  .form-control {
    border-left: 0;
    border-right: 0;
  }
}
@media (max-width: 576px) {
  .navbar-expand-lg {
    display: none !important;
  }
  .run-desktop {
    &-wrapper {
      width: 90%;
    }
    &-gray {
      height: auto;
    }
    &-date {
      height: auto;
    }
    &-placard {
      top: 45%;
      left: 10px;
      position: absolute;
    }
    &-cover {
      background-size: cover;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    &-coverage {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      height: auto;
    }
    &-about {
      display: none;
    }
    &-info {
      font-size: 16px;
      width: 100% !important;
      display: block;
      margin-top: 1rem !important;
    }
    &-small {
      font-size: 14px;
    }
    &-background {
      margin-top: 3rem !important;
    }
    &-buttoncover {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    &-coverbtn {
      margin-right: 12px !important;
    }
    &-race {
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }
    &-separator {
      display: none;
    }
    &-cardflex {
      display: flex;
      width: 100% !important;
      justify-content: center;
      flex-direction: row;
      margin-left: 0.5rem !important;
      margin-right: 0;
    }
    &-slanted:after {
      width: 16em;
    }
    &-fresh {
      width: 100%;
      font-size: 14px;
    }
    &-newsletter {
      margin-right: 0.5rem !important;
      margin-left: 0 !important;
      text-align: center;
    }
    &-footer {
      display: block;
      &-container {
        text-align: center;
        font-family: 'Montserrat-Light';
        font-size: 12px;
      }
      &-social {
        display: block !important;
        padding-bottom: 3rem;
      }
    }
    &-platform {
      padding: 0 3rem;
    }
    &-header {
      display: none;
      &-span {
        display: block;
        margin-top: 3px !important;
      }
    }
    &-shownav {
      display: block;
      margin-top: -22px;
      &-image {
        width: 190px;
      }
      &-flex {
        display: flex;
        justify-content: space-between;
      }
      &-search {
        color: #fff;
        font-size: 32px;
      }
    }
    &-divider {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      height: 350px;
    }
    &-card {
      &-cover {
        margin-bottom: 1rem;
        width: 100%;
        padding-left: 0;
      }
      &-header {
        height: auto;
        margin-top: 0.5rem;
      }
    }
  }
  .navbar-toggler-icon{
    color: #fff;
    font-size: 40px;
  }
  .navbar-toggler {
    background: none;
    border-radius: 0;
    border: none;
  }
  button:focus {
    outline: none;
  }
  .material-icons {
    font-size: 20px !important;
  }
  .form-control {
    border-left: 0;
    border-right: 0;
  }
}


